{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Bangazon</title>
	{%include "styles.html"%}
</head>
<body>
	<!-- Navbar -->
	{%include "navbar.html"%}
	<div class="container">
		<!-- Breadcrumbs -->
		<ol class="breadcrumb">
			<li><a href="{% url 'website:category_products' product.category.id %}">{{product.category}}</a></li>
			<li class="active">{{product.title}}</li>
		</ol>
		<!-- Main content -->
		<div class="main-content text-center">
			<div class="row">
				<div class="col-xs-4">
					{%if product.image_path%}
					<img src="/media/{{product.image_path}}" alt="{{product.
					title}}" width="150">
					{%else%}
					<img src="/media/images/no-image.jpg" alt="{{product.
					title}}" width="150">
					{%endif%}
				</div>
				<div class="col-xs-4">
					<h1>Product title: {{product.title}}</h1>
				</div>
				<div class="col-xs-2">
				{% if user.is_authenticated %}
					<form action="{% url 'website:product_details' product.id %}" method="post">
						{% csrf_token %}
						<input name="like" type="hidden" value="{{ product.id }}"/>
						<input class="btn btn-success" type="submit" value="Like">
					</form>
				</div>
				<div class="col-xs-2">
					<form action="{% url 'website:product_details' product.id %}" method="post">
						{% csrf_token %}
						<input name="dislike" type="hidden" value="{{ product.id }}"/>
						<input class="btn btn-success" type="submit" value="Dislike">
					</form>
				</div>
				{%else%}
				</div>
				<div class="col-xs-2">
				</div>
				{%endif%}
			</div>
			<h4>Product Description: {{product.description}}</h4>
			<h4>Product Quantity: {{product.quantity}}</h4>
			<h4>Product Price: ${{product.price}}</h4>
			<a href="{% url 'website:index' %}">Back to products</a>
			{% if user.is_authenticated %}
			<a href="{% url 'website:sell' %}">Add another product</a>
			<br>
			<form action="{% url 'website:product_details' product.id %}" method="post">
				{% csrf_token %}
				<input type="hidden" name="product.id" value="{{product.id}}">
				<input class="btn btn-success" type="submit" value="Add to order">
			</form>
			{% endif %}
		</div>
	</div>
</body>
</html>
