{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Bangazon</title>
	{%include "styles.html"%}
</head>
<body>
	<!-- Navbar -->
	{%include "navbar.html"%}
	<div class="container">
		<!-- Breadcrumbs -->
		<ol class="breadcrumb">
			<li><a href="#">{{product.category}}</a></li>
			<li class="active">{{product.title}}</li>
		</ol>
		<!-- Main content -->
		<div class="main-content text-center">
			<h1>Product title: {{product.title}}</h1>
			<h4>Product Description: {{product.description}}</h4>
			<h4>Product Quantity: {{product.quantity}}</h4>
			<h4>Product Price: ${{product.price}}</h4>
			<a href="{% url 'website:index' %}">Back to products</a>
			{% if user.is_authenticated %}
			<a href="{% url 'website:sell' %}">Add another product</a>
			<br>
			<button class="btn btn-success">Add to order</button>
			{% endif %}
		</div>
	</div>
</body>
</html>
