{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Bangazon</title>
        {%include "styles.html"%}
    </head>
    <body>
        {%include "navbar.html"%}

        <h4>Choose your payment type.</h4>

        <form action="{% url 'website:payment' %}" method="post">
        {% csrf_token %}
            <select name="payment_id" required>
                {% for payment in payments %}

                <option value='{{payment.id}}'>{{payment.name}}</option>
                
                {% endfor %}
            </select>

            <input class="btn btn-success" type="submit" value="Done"/>
        </form>

    </body>
</html>
