{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Bangazon</title>
	{%include "styles.html"%}
</head>
<body>
	{%include "navbar.html"%}
	<div class="container-fluid">
		<div class="row text-center">
			<h1>Welcome to Bangazon!</h1>
			{% if user.is_authenticated %}
			<h1>Bangazon says... hello {{ user.username }}!</h1>
			{% endif %}
		</div>
		<div class="row">
			{% for product in products %}
				<div class="col-md-3">
					<div class="card-container text-center">
						<div class="row">
							<div class="col-md-12 card-image">
								{%if product.image_path%}
									<a href="{% url 'website:product_details' product.id %}"><img src="/media/{{product.image_path}}" alt="{{product}}" width="150"></a>
								{%else%}
									<a href="{% url 'website:product_details' product.id %}"><img src="/media/images/no-image.jpg" alt="{{product}}" width="150"></a>
								{%endif%}
							</div>
						</div>
						<div class="row content-holder">
							<div class="col-md-12">
								<h2><a href="{% url 'website:product_details' product.id %}">{{product.title}}</a></h2>
							</div>
							<div class="col-md-12">
								<h4>${{product.price}}</h4>
							</div>
							<div class="col-md-12 product-description">
								<h5>{{product.description}}</h5>
							</div>
							<div class="col-md-12 button-on-card">
								<a class="btn btn-primary" href="{% url 'website:product_details' product.id %}">View product</a>
							</div>
						</div>

					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	<!-- scripts -->
	<script
	src="https://code.jquery.com/jquery-3.2.1.min.js"
	integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="static/javascripts.js"></script>
</body>
</html> 


