<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <form action="{% url 'website:search_products' %}" type="get" accept-charset="utf-8" class="navbar-form navbar-left">
      <div class="form-group">
        <input value="{{request.GET.search}}" type="text" class="form-control" name="Search" placeholder="Search">   <!--.search above can be anything you want -->
      </div>

      Local<input type="checkbox" value="True" name="local_delivery">
      <input class="btn btn-primary btn-sm" type="submit" value="Search">

    </form>
    <ul class="nav navbar-nav">
        <li class="">
            <a href="/">Home</a>
        </li>
        <li class="">{{ user.get_cart_items }}</li>
        <li class="">
            {% if user.is_authenticated %}
            <a href="/order">
            {%else%}
            <a href="/login">
            {%endif%}
                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
            </a>
        </li>
        <li class="">
            <a href="/categories">Product Catagories</a>
        </li>
        {% if user.is_authenticated %}
        <li class="">
            <a href="/sell">Sell Products</a>
        </li>
        <li class="">
            <a href="/MyProducts">My Products</a>
        </li>
        <li class="">
            <a href="/profile">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            </a>
        </li>
        <li class="">
            <a href="{% url 'website:logout' %}">Logout</a>
        </li>
        {%else%}
        <li class="">
            <a href="/login">Login</a>
        </li>
        <li class="">
            <a href="/register">Register</a>
        </li>
        {%endif%}
    </ul>
  </div>
</nav>