{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Bangazon</title>
        {%include "styles.html"%}
    </head>
    <body>
        {%include "navbar.html"%}

        <h2>Order Preview</h2>
        <ol>
            {% for o in orders %}
            {% for product in o.products.all %}
            <li>Product Name:  <a href="{% url 'website:product_details' product.id %}">{{product.title}}</a>
            <p>Price: {{product.price}}</p></li>
            {% endfor %}
            {% endfor %}
        </ol>
        <p><strong>Order Total: ${{ total }} </strong></p>
        <a class="btn btn-success" href="{% url 'website:payment' %}">Complete order</a>
    </body>
</html>
