{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>	
	<meta charset="utf-8">
	<title>Bangazon - Order History</title>
	{%include "styles.html"%}
</head>
<body>
	{%include "navbar.html"%}
	<div class="container">
		<a href="{% url 'website:profile' %}">Back to profile</a>
		<div class="row text-center">
			<h1>Order history</h1>
			<!-- For loop for orders will go here -->
			{% for order in orders.all %}
				<p><a href="{% url 'website:order_details' order.id %}">Previous order #{{order.id}}</a></p>
			{% endfor %}
		</div>
	</div>
</body>
</html>