{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Bangazon - Order Details</title>
	{%include "styles.html"%}
</head>
<body>
	<!-- Navbar -->
	{%include "navbar.html"%}
	<div class="container">
        <a href="{% url 'website:order_history' %}">Back to order history</a>
        <div class="row text-center">
            <h1 style="text-decoration: underline;">Order Details (Order #{{order_id}})</h1>
            {% for product in products %}
            <br><div>
                <p><strong>Product:</strong> {{product.title}} </p>
                <p>| <strong>Description:</strong> {{product.description}} </p>
                <p>| <strong>Quantity:</strong> {{product.count}}</p>
                <p>| <strong>Total:</strong> ${{product.price}} </p>
            </div>
            {% endfor %}
            <hr style="border-color: #000; border-width: 3px; width: 40%;">
            <h3>Total: ${{total}}</h3>
        </div>
    </div>
</body>
</html>