{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Bangazon</title>

        {%include "styles.html"%}
    </head>
    <body>

        {%include "navbar.html"%}

        <h2>Order Preview</h2>

            {% if order.products.all  %}

        <ol>
            {% for product in order.products.all %}
            <li>
                <p>Product Name:  <a href="{% url 'website:product_details' product.id %}">{{ product.title }}</a></p>

                {% for each in product.get_count_on_order %}
                    {% if each.order.id == order.id  %}
                        <p>Quantity: {{ each.quantity }}</p>
                    {% else %}
                    {% endif %}
                {% endfor %}

                <p>Price: ${{ product.price }}</p>
            </li>

        <form action="{% url 'website:order' %}" method="post">

        {% csrf_token %}

            <input name="delete_product" type="hidden" value="{{ product.id }}"/>
            <input class="btn btn-danger btn-sm" type="submit" value="Delete Product"/>

        </form>

            {% endfor %}

        </ol>
        <p><strong>Order Total: ${{ total }} </strong></p>
            {% endif %}

        <form action="{% url 'website:payment' %}" method="post">

        {% csrf_token %}

            <input name="order_id" type="hidden" value="{{ order_id }}"/>
            <input name="payment_id" type="hidden" value="Needed"/>

            {% if not order.products.all  %}

            <a href="{% url 'website:index' %}" class="btn btn-success">Please Add Products</a>

            {% else %}

            <input class="btn btn-success" type="submit" value="Continue to Choose Payment Type"/>

        </form>
        <form action="{% url 'website:order' %}" method="post">

        {% csrf_token %}

            <input name="cancel_payment" type="hidden" value="True"/>
            <input class="btn btn-danger" type="submit" value="Cancel Order"/>
        </form>
            {% endif %}


    </body>
</html>
