{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Bangazon - Order Details</title>
	{%include "styles.html"%}
</head>
<body>
	<!-- Navbar -->
	{%include "navbar.html"%}
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-left">
				<a href="{% url 'website:order_history' %}">Back to order history</a>
			</div>
		</div>
		<div class="row order-details-wrapper">
			<div class="col-sm-3"></div>
			<div class="col-sm-6">
				<h1 class="text-center">Order Details (Order #{{order_id}})</h1>
				{% for product in products %}
				<br><div>
				<p><strong>Product:</strong> {{product.title}} </p>
				<p>| <strong>Description:</strong> {{product.description}} </p>
				<p>| <strong>Quantity:</strong> {{product.count}}</p>
				<p>| <strong>Total:</strong> ${{product.price}} </p>
				<form method="post" action="{% url 'website:order_details' order_id %}">
					{% csrf_token %}
				<input name="product_id" type="hidden" value="{{ product.id }}"/>
					<label>1<input name="rate" type="radio" value="1" {% if product.rating == 1 %} checked {% endif %}/></label>
					<label>2<input name="rate" type="radio" value="2"{% if product.rating == 2 %} checked {% endif %}/></label>
					<label>3<input name="rate" type="radio" value="3"{% if product.rating == 3 %} checked {% endif %}/></label>
					<label>4<input name="rate" type="radio" value="4"{% if product.rating == 4 %} checked {% endif %}/></label>
					<label>5<input name="rate" type="radio" value="5"{% if product.rating == 5 %} checked {% endif %}/></label>
					<input class="btn btn-success" type="submit" value="Rate!"/>
				</form>
				</div>
				{% endfor %}
				<hr>
				<h3>Total: ${{total}}</h3>
			</div>
			<div class="col-sm-3"></div>	
		</div>
</body>
</html>