{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Bangazon</title>
	{%include "styles.html"%}
</head>

<body>
	{%include "navbar.html"%}
	<div class="container-fluid page-wrapper">
		<div class="col-md-12 text-center">
			<div class="row profile-content">
				<img src="../../media/images/Mariota.jpg">
				<h1>{{user.first_name}} {{user.last_name}}</h1>
				<h2>{{user.username}}</h2>
				<hr>
				<p>{{profile.address}} {{profile.city}}, {{profile.state}} {{profile.zipcode}}</p>
				<p><a href="#">{{profile.phone_number}}</a></p>
				<p><a href="{% url 'website:profile/view_payments' %}">View payments</a></p>
				<p><a href="{% url 'website:add_payment' %}">Add payment</a></p>
				<p><a href="{% url 'website:order_history' %}">Order history</a></p>
				<hr>
				<a class="btn btn-default edit-button" href="{% url 'website:profile/edit_account' %}">Edit account</a>	
			</div>			
		</div>
	</div>
</body>
</html>